Repository bahaha/vaul-web-component: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run format

misc: update docs
  CHANGELOG.md
  CLAUDE.md
  MILESTONES.md
  README.md
  SNAP_POINTS_ANALYSIS.md
  codepen-examples/basic-bottom-drawer.html
  docs/MILESTONE-1.md
  docs/MILESTONE-2.md
  index.html
Due: bun run format

0.1.1
  package.json
Due: bun run format

fix: use real dom for backdrop for better click to dismiss mechanism
  README.md
  src/components.ts
  src/styles/vaul-drawer-portal.css
Due: bun run lint, bun run format

feat: disable drawer moving on dragging on the backdrop
  codepen-examples/README.md
  codepen-examples/basic-bottom-drawer.html
  codepen-examples/custom-handle-example.html
  codepen-examples/directional-drawers.html
  codepen-examples/dismissible-behavior.html
  codepen-examples/rich-styled-drawer.html
  e2e/drawer-gestures.spec.ts
  e2e/drawer-handle.spec.ts
  e2e/utils.ts
  index.html
  playwright.config.ts
  src/components.ts
  src/drawer-handle.test.ts
  src/styles/vaul-drawer-content.css
  src/styles/vaul-drawer-handle.css
  src/styles/vaul-drawer-portal.css
  src/utils/gesture-manager.ts
Due: bun run lint, bun run format

doc: update usage example
  codepen-examples/custom-handle-example.html
  codepen-examples/directional-drawers.html
Due: none

fix: Improve backdrop interaction and prevent unintended drawer movement (#19)
  README.md
  codepen-examples/README.md
  codepen-examples/basic-bottom-drawer.html
  codepen-examples/custom-handle-example.html
  codepen-examples/directional-drawers.html
  codepen-examples/dismissible-behavior.html
  codepen-examples/rich-styled-drawer.html
  e2e/drawer-gestures.spec.ts
  e2e/drawer-handle.spec.ts
  e2e/utils.ts
  index.html
  playwright.config.ts
  src/components.ts
  src/drawer-handle.test.ts
  src/styles/vaul-drawer-content.css
  src/styles/vaul-drawer-handle.css
  src/styles/vaul-drawer-portal.css
  src/utils/gesture-manager.ts
Due: bun run lint, bun run format

fix: remove bad css that blocks the closing animation
  CHANGELOG.md
  CLAUDE.md
  MILESTONES.md
  README.md
  SNAP_POINTS_ANALYSIS.md
  codepen-examples/README.md
  codepen-examples/basic-bottom-drawer.html
  codepen-examples/custom-handle-example.html
  codepen-examples/directional-drawers.html
  codepen-examples/dismissible-behavior.html
  codepen-examples/rich-styled-drawer.html
  docs/MILESTONE-1.md
  docs/MILESTONE-2.md
  index.html
  package.json
  src/styles/vaul-drawer-portal.css
Due: bun run format

0.2.1
  package.json
Due: bun run format

Path conditions:
  bun run lint: (any of: src/**/*.{ts,js}) or (any of: test/**/*.{ts,js})
  bun run format: ((any of: src/**/*.{ts,js}) or (any of: test/**/*.{ts,js})) or (any of: *.{ts,js,json,md})
